@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@600&family=Source+Code+Pro&display=swap');

.app {
    background-color: #dde1e7;
}

body {
    background-color: #dde1e7;
    font-family: 'Montserrat', sans-serif;
}

.main-img {
    width: 100px;
}

.btn-dark {
    border-radius: 2px;
    background-color: #000000;
}

.btn-upvote {
    margin-left: 10px;
    color: #ffffff;
}

.main {
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 50px;
}

.navbar-toggler {
    border: none;
}

.posts {
    font-family: 'Archivo Black', sans-serif;
}

.column {
    float: right;
    padding: 10px;
  }
  
  .left {
    width: 20%;
  }

  .center {
      width: 50%;
      margin-left: 70px;
  }
  
  .right {
    width: 20%;
  }

@media screen and (max-width: 600px) {
    .left {
        width: 100%;
        margin-left: 10px;
    }

    .center {
        width: 100%;
        margin-left: 10px;
    }

    .right {
        width: 100%;
        margin-left: 10px;
    }
}

.write {
    background-color: #dde1e7;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 300px;
}

.profile-image {
    width: 80px;
    border-radius: 2px;
}

@media screen and (max-width: 600px) {
    .write {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
    }
    .main {
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.account-signedin {
    font-family: 'Source Code Pro', monospace;
}

.account-photo {
    width: 150px;
    border-radius: 5px;
}

.signout-button {
    border: 2px;
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
}

.navbar {
    background-color: #dde1e7;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
}

@media screen and (max-width: 600px) {
    .navbar {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav-item {
        margin-bottom: 10px;
    }
}

.navbar-brand {
    width: 40px;
}

.doc {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

.doc-title {
    font-family: 'Archivo Black', sans-serif;
}

.doc-image {
    width: 300px;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .doc {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

.comment-input {
    background-color: #ffffff;
    padding: 8px;
    border-color: #000000;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.comment-btn {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: #000000;
    background-color: #000000;
    color: #ffffff;
    padding: 8px;
}

.post-btn {
    border-radius: 2px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.user-image {
    width: 300px;
    border-radius: 10px;
}

.user-row {
    margin: 20px;
}

.user-name {
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
}

.user-content {
    font-family: 'Source Code Pro', monospace;
}